<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tentang Kami</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <br>
    <img src="assets/logo-header.jpg" class="padding" />
    <p class="padding" style="font-size: small;">
      <b>Maksud, Tujuan Dan Peran Koperasi</b>
    </p>
    <p class="padding text-alignment">
      Koperasi adalah badan usaha yang beranggotakan orang-seorang atau badan hukum koperasi dengan melandaskan setiap kegiatannya 
      berdasarkan prinsip-prinsip koperasi sekaligus sebagai gerakan ekonomi rakyat yang berdasarkan atas asas kekeluargaan. Koperasi 
      bertujuan memajukan kesejahteraan anggota secara khusus dan masyarakat pada umumnya serta ikut berperan dalam membangun tatatnan 
      perekonomian nasional.
    </p>
    <p class="padding text-alignment">
      Koperasi berperan aktif dalam mewujudkan kualitas hidup masyarakat yang lebih baik melalui peningkatan kesejahteraan ekonomi dan 
      sosial para anggotanya secara khusus dan masyarakat pada umumnya.
    </p>
    <p class="padding text-alignment">
      Koperasi Simpan Pinjam Wahana Mandiri Selaras (KSP WADIRA) merupakan koperasi yang bergerak dibidang simpan pinjam yang 
      memiliki izin operasional di seluruh wilayah Republik Indonesia. KSP Wadira didirikan berdasarkan akta pendirian tertanggal
      14 Maret 2015 dan disahkan oleh Menteri Koperasi dan Usaha Kecil Menengah Republik Indonesia melalui dikeluarkannya Surat 
      Keputusan Nomor : 1217/BH/M.KUKM.2/IV/2015 tertanggal 30 April 2015 yang berkantor pusat di Kota Cimahi, Jawa Barat.
    </p>
    <br>
    <ion-button expand="block" class="padding">Kontak Kami</ion-button>
  </ion-content>
</ion-app>