<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Visi Dan Misi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <img src="assets/visi dan misi.jpg" />
    <br>
    <p class="padding" style="font-size: small;">
      <b>VISI WADIRA 2020</b>
    </p>
    <p class="padding text-alignment">
      Menjadi koperasi simpan pinjam terbaik berskala nasional yang terus bertumbuh, berfokus pada kesejahteraan seluruh anggota, dan
      memuaskan para <i>stakeholder</i> melalui pelaksanaan prinsip-prinsip perkoperasian, pengelolaan yang profesional, dan kerjasama-kerjasama
      strategis pada tahun 2020.
    </p>
    <p class="padding" style="font-size: small;">
      <b>MISI WADIRA</b>
    </p>
    <p class="padding text-alignment">
      Menjadi mitra simpan pinjam yang unggul dan terpercaya bagi seluruh anggota dan para <i>stakeholders.</i>
    </p>
  </ion-content>
</ion-app>