<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Strategi Bisnis</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <img src="assets/strategi-bisnis.jpg" />
    <br>
    <p class="padding" style="font-size: small;">
      <b>STRATEGI BISNIS SIMPAN PINJAM</b>
    </p>
    <ion-grid class="padding" style="font-size: small;">
      <ion-row>
        <ion-col size="1">
          1)
        </ion-col>
        <ion-col size="11">
          Pelayanan yang ramah dan antusias.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          2)
        </ion-col>
        <ion-col size="11">
          Pengelolaan SDM berbasis kinerja yang terukur.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          3)
        </ion-col>
        <ion-col size="11">
          Inovasi pelayanan, proses bisnis dan teknologi yang berdaya saing.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          4)
        </ion-col>
        <ion-col size="11">
          Profesionalisme yang penuh kehati-hatian <i>(wiweka).</i>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          5)
        </ion-col>
        <ion-col size="11">
          Kerjasama strategis dengan mitra-mitra yang unggul dan terpercaya.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          6)
        </ion-col>
        <ion-col size="11">
          Pengembangan usaha di 5 provinsi : Jawa Barat, DKI Jakarta, Banten, Sumatera Utara dan Jawa Tengah.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          7)
        </ion-col>
        <ion-col size="11">
          Tata kelola koperasi yang baik untuk kesejahteraan seluruh anggota dan kepuasan para <i>Stakeholders</i>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>