<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Kontak Kami</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content fullscreen>
        <!-- <ion-card> -->
          <img src="assets/kontak kami.png" />
          <br>
          <ion-item>
            <ion-label>
              <h3><b>KANTOR PUSAT</b></h3>
              <h5>Ruko Kotamas Jl. Kotamas Raya No.19</h5>
              <h5>Kota Cimahi 40521, Jawa Barat</h5>
              <h5>Telepon : (022) 20660018</h5>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3><b>CABANG CIMAHI</b></h3>
              <h5>Ruko Kotamas Jl. Kotamas Raya No.19</h5>
              <h5>Kota Cimahi 40521, Jawa Barat</h5>
              <h5>Telepon : (022) 20660018</h5>
              <h5>Whatsapp : </h5>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3><b>CABANG KARAWANG</b></h3>
              <h5>Komplek Ruko Mediterania Blok A-19</h5>
              <h5>Jl. Galuh Mas Raya, Karawang Barat</h5>
              <h5>Kabupaten Karawang, Jawa Barat</h5>
              <h5>Telepon : (022) 20660018</h5>
              <h5>Whatsapp : </h5>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3><b>CABANG GARUT</b></h3>
              <h5>Komplek Ruko Mediterania Blok A-19</h5>
              <h5>Jl. Galuh Mas Raya, Karawang Barat</h5>
              <h5>Kabupaten Karawang, Jawa Barat</h5>
              <h5>Telepon : (022) 20660018</h5>
              <h5>Whatsapp : </h5>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3><b>CABANG PURWAKARTA</b></h3>
              <h5>Komplek Ruko Mediterania Blok A-19</h5>
              <h5>Jl. Galuh Mas Raya, Karawang Barat</h5>
              <h5>Kabupaten Karawang, Jawa Barat</h5>
              <h5>Telepon : (022) 20660018</h5>
              <h5>Whatsapp : </h5>
            </ion-label>
          </ion-item>
        <!-- </ion-card> -->
    </ion-content>
  </ion-app>